<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="github-list">
          <li>{% include icon-issue.html url=site.github_issues_url %}</li>
          <li>{% include icon-download.html url=site.github_download_url %}</li>
          <li>{% include icon-fork.html url=site.github_source_url %}</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
